{% extends 'base.html.twig' %}

{% block title 'Home' %}

{% block body %}
    <div class="mt-10 max-w-md mx-auto">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="inline-block w-full bg-indigo-500 hover:bg-indigo-600 text-white rounded shadow p-4" formnovalidate>Send</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
